<h1 class="text-center m-4">New To-Do</h1>
<div class="flex justify-center">
    <input 
        class="overflow-ellipsis overflow-hidden font-sans border border-transparent m-4 w-42 py-3 px-6 rounded shadow-lg focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent focus:placeholder-gray-300 placeholder-gray-500 placeholder-opacity-75"   
        placeholder="Type Your To Do Here!"
        type="text"
        [(ngModel)]="newContent"
    >
    <button    
        class="font-sans shadow-lg m-4 w-42 py-3 px-6 text-white rounded-lg bg-purple-600 hover:bg-purple-700 shadow-lg block md:inline-block"
        (click)="addToDo()"
    >
        Add
    </button>
</div>
<h1 class="text-center m-4">To Do List</h1>
<!-- <app-todos-item
    class="text-center m-4"
    *ngFor="let val of todos; let i = index" 
    [todo]="val"
    (click)="addToDo()"
>
</app-todos-item> -->
<main class="justify-center">
    <app-todos-item 
        *ngFor="let items of list$ | async"
        [todo] = "items">
    </app-todos-item>
</main>
